
*>a{text-decoration:none;}
#decoratelogo {width:85%;height:280%;margin-top:-25px;}
.css-nav-decoration{margin-top:20px;}
.product-advert-h3  {font-weight:bolder;color:#f58620;text-wrap:wrap;font-family:century-gothic}
.CallNowButton{width:100%;background:#f58620;border:none;color:#70a12d;font-weight:bolder;text-align:center;font-size:100%;}
#css-ul-decoration{position:relative;right:-10%}
.nav-item1{margin:10px;padding:10px;}
#companyOverview3{width:100%}
#cOvtext3 {font-size:32px;font-weight:bold;}
.companyOverview { width:20%; margin-left:auto;margin-right:auto; color:#70a12d;}
.cOvtext {font-size:30px;font-weight:bold;}
.header_icon_css {color:#70a12d;font-size:150%;position:absolute;margin-left:-30px;font-weight:bolder;}
.a {color:#f58620;font-size:15px;font-weight:bolder;}
.a:hover {text-decoration:underline #70a12d;}
.search-engine{margin-bottom:10px;}
.search-engine-font{font-size:14px;}
.trademark {color:#f58620;}
.trademark:hover {text-decoration:underline #70a12d;}#search_button_css{background:#f58620;color:#70a12d;}
#trademark { font-size:12px;width:40%; margin-left:auto;margin-right:auto;}
.footer_flex{display:flex;margin:0;}
.footer_flex1{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex2{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex3{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex4{background:transparent;width:100%;flex-grow:10;justify-content:center;align-items:center;}
ul{color:#f58620}
.social_media_text{color:#f58620;}
#newInventLineDecoration_On_23_6_2021{height:800px;}
.footer_flex1details {border:2px solid black;margin:10px;}
.footer_flex2details {border:2px solid black;margin:10px;}
.footerLinkBox {border: 1px solid #70a12d;}
.display_visible{display:none;}
.TopAds{border:1px solid black; border-radius:5%;}
button{width:100%}
.footer_fex3_display4{color:#70a12d;font-weight:bolder;letter-spacing:2px;font-size:500%;}
.social_media_icon{margin:10px;color:#70a12d;border: 1px solid #f58620; border-radius:100%;padding:2%;font-size:25px;}
.social_media_text{margin:10px;font-size:20px;}
.social_media_text:hover{text-decoration:underline #70a12d;}
.swiper-container {width:75%; height:300px;}
#to_the_top_button{visibility:hidden}
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
width:100px;height:300px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 70%;
        height: 70%;
        object-fit: cover;
      }




@media (max-width:600px) {
	
      .swiper-container {width:100%; height:200px;}
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
width:100px;height:300px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }



      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      background-position:center center;
	  background-size:cover;
	  }

#decoratelogo {width:75%;height:270%;margin-top:5px;}
.products-adverts-text{height:120px;}
.companyOverview { width:50%;}
.css-nav-decoration{margin-top:60px;}
#css-ul-decoration{position:relative;right:-4%}
.products-adverts-text{width:100%;height:100%;}
#trademark {width:100%;}
.product-advert-h3  {font-size:100%;}
.toggle-color{color:#70a12d;}
.toggle-button-decoration{border-radius:2%; width:20%;font-size:350%;}
.footer_flex{flex-wrap:wrap;}
.footer_flex1{width:100%;height:100%;margin:20px;}
.footer_flex2{width:100%;height:100%;margin:20px;}
.footer_flex3{width:100%;height:100%;margin:20px;}
.footerLinkBox {margin-top:25%;margin-bottom:25%;width:100%; border:1px solid #70a12d;}
.footer_flex_buttons{height:62px;background:#70a12d;color:#f58620;font-weight:bolder;font-size:20px;letter-spacing:2px;border-radius:10%}
}
