
body { background: #eae4de;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;color: #000;margin: 0;padding: 0;}
.main-background-color, .header-background-color{ background-color:#eae4de;}
.footer-background-color{background-color:#70a12d;height:500px}
#decoratelogo {width:85%;height:280%;margin-top:-25px;}
.css-nav-decoration{margin-top:20px;}
.product-advert-h3  {font-weight:bolder;color:#70a12d;text-wrap:wrap;}
.CallNowButton{width:100%;background:#f58620;border:none;color:#70a12d;font-weight:bolder;text-align:center;font-size:100%;}
#css-ul-decoration{position:relative;right:-10%}
.nav-item1{margin:10px;padding:10px;}
#companyOverview3{width:100%}
#cOvtext3 {font-size:32px;font-weight:bold;}
.companyOverview { width:17%; margin-left:auto;margin-right:auto; color:#70a12d;}
.cOvtext {font-size:30px;font-weight:bold;}
.header_icon_css {color:#70a12d;font-size:150%;position:absolute;margin-left:-30px;font-weight:bolder;}
.a {color:#f58620;font-size:15px;font-weight:bolder;}
.a:hover {text-decoration:underline #70a12d;}
.search-engine{margin-bottom:10px;}
.search-engine-font{font-size:14px;}
.trademark {color:#f58620;}
.trademark:hover {text-decoration:underline #70a12d;}#search_button_css{background:#f58620;color:#70a12d;}
#trademark { font-size:12px;width:40%; margin-left:auto;margin-right:auto;}
.footer_flex{display:flex;margin:0;}
.footer_flex1{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex2{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex3{background:transparent;width:100%;height:150px;margin:10px;}
.footer_flex4{background:transparent;width:100%;flex-grow:10;justify-content:center;align-items:center;}
ul{color:#f58620}
#newInventLineDecoration_On_23_6_2021{height:800px;}
.footer_flex1details {border:2px solid black;margin:10px;}
.footer_flex2details {border:2px solid black;margin:10px;}
.footerLinkBox {border: 1px solid #70a12d;}
.footer_content_flex{border:1px solid black; background-color:white;color:#70a12d;}
.display_visible{display:none;}
.TopAds{border-radius:5%;}
button{width:100%}
.footer_flex3_display4{color:white;font-weight:100px;letter-spacing:2px;font-size:500%;}
.social_media_icon{margin:10px;color:white;border: 2px solid white; border-radius:100%;padding:2%;font-size:25px;}
.social_media_icon:hover{color:black;border: 2px solid black;}
.social_media_text{margin:10px;font-size:20px;color:white;}
.social_media_text:hover{text-decoration:underline black;}
.swiper-container {width:75%; height:300px;background-color:#deeade; box-shadow:2px 2px 2px 1px linear gradient(green green);}
.mySwiper{border:2px solid #70a12d;border-left:none;border-top:none;border-radius:10%;}
.swiper-wrapper{}
.swiper-wrap-content{background-color:#f58620;height:100%;border-radius:5%}
.swiper-content {background-color:white;height:75%;width:90%;margin-top:15%;margin-right:auto;margin-left:auto;border-radius:3%;box-shadow:1px 1px 1px 1px white;}
.product-pictures > img{ }
li{list-style-type:none;}
ul li a{text-decoration:none;}
a{text-decoration:none;}
#trademark a{text-decoration:none;}

.swiper-slide {
		box-shadow:1px 1px 5px 5px #70a12d;
        text-align: center;
        font-size: 18px;
        background: #fff;
		width:100px;
		height:100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
      }

	 
	  
	  
@media (max-width:600px) {
.swiper-slide {
		box-shadow:1px 1px 5px 5px #70a12d;
        font-size: 18px;
		height:200px;
      }
.swiper-container{display:;}
.slideshow-container{display:inline-block;}
.swiper-content {margin-top:12%;}
#decoratelogo {width:75%;height:270%;margin-top:5px;}
.products-adverts-text{height:120px;}
.companyOverview { width:50%;}
.css-nav-decoration{margin-top:60px;}
#css-ul-decoration{position:relative;right:-4%}
.products-adverts-text{width:100%;height:100%;}
#trademark {width:100%;}
.product-advert-h3  {font-size:100%;}
.toggle-color{color:#70a12d;}
.toggle-button-decoration{border-radius:2%; width:20%;font-size:350%;}
.footer_flex{flex-wrap:wrap;}
.footer_flex1{width:100%;height:100%;margin:20px;}
.footer_flex2{width:100%;height:100%;margin:20px;}
.footer_flex3{width:100%;height:100%;margin:20px;}
.footer_fex3_display4{font-weight:bolder;font-size:300%;}
.footerLinkBox {margin-top:25%;margin-bottom:25%;width:100%; border:1px solid #f58620;}
.footer_flex_buttons{height:62px;background:white;color:#70a12d;font-weight:bolder;font-size:20px;letter-spacing:2px;border-radius:10%}
.footer-background-color{height:100%;}
.social_media_text{display:none;}
}
